<section class="app-footer">
    <footer class="footer-28 py-5">
        <div class="footer-bg-layer">
            <div class="container py-lg-3">
                <div class="row footer-top-28">
                    <div class="col-lg-4 footer-list-28 copy-right mb-lg-0 mb-sm-5 mt-sm-0 mt-4">
                        <a href="/">
                            <img src="/static/assets/images/website_logo.png" alt="Seu logo" title="Seu logo" style="height:35px;padding-right: 4px;">
                        </a>
                        <a class="navbar-brand mb-3" href="/">Nome da Sua Empresa</a>
                        <p class="copy-footer-28">© 2023. Todos os direitos reservados.</p>
                        <h5 class="mt-2">Desenvolvido por <a href="#" target="_blank">Seu Nome</a></h5>
                    </div>
                    <div class="col-lg-8 row">
                        <div class="col-sm-4 col-6 footer-list-28">
                            <h6 class="footer-title-28">Links Úteis</h6>
                            <ul>
                                <li><a href="#">Sobre Nós</a></li>
                                <li><a href="#">Contato</a></li>
                                <li><a href="#">Termos de Uso</a></li>
                                <li><a href="#">Política de Privacidade</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-6 footer-list-28">
                            <h6 class="footer-title-28">Categorias</h6>
                            <ul>
                                <li><a href="#">Categoria 1</a></li>
                                <li><a href="#">Categoria 2</a></li>
                                <li><a href="#">Categoria 3</a></li>
                                <li><a href="#">Categoria 4</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-6 footer-list-28 mt-sm-0 mt-4">
                            <h6 class="footer-title-28">Mídias Sociais</h6>
                            <ul class="social-icons">
                                <li class="facebook"><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span> Facebook</a></li>
                                <li class="twitter"><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span> Twitter</a></li>
                                <li class="linkedin"><a href="#"><span class="fa fa-linkedin" aria-hidden="true"></span> LinkedIn</a></li>
                                <li class="instagram"><a href="#"><span class="fa fa-instagram" aria-hidden="true"></span> Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <button onclick="topFunction()" id="movetop" title="Ir para o topo" style="display: block;">
        <span class="fa fa-angle-up" aria-hidden="true"></span>
    </button>
</section>